dist/coaches.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Тренеры</title>
    <!--fonts--><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="stylesheet" href="css/styles.min.css"/>
  </head>
  <body>
    <div class="wrapper">
      <!-- header-->
      <header class="header">
        <div class="container">
          <div class="left__header__menu">
            <button class="hamburger hamburger--spin hambur__menu__toggle js__menu__toggle" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button><a href="index.html"><img src="images/logo.png" alt=""/></a>
            <ul class="header__menu"><a href="index.html">
                <li>О школе</li></a><a href="training.html">
                <li>Программы и цены</li></a><a href="coaches.html">
                <li>Тренеры</li></a><a href="photogallery.html">
                <li>Фотогалерея</li></a></ul>
          </div>
          <div class="right__header__menu"><a class="header__phone" href="#"><img class="phone__img" src="images/Phone.png" alt=""/><span class="phone__number">8 (831) 453-24-65</span></a></div>
        </div>
      </header>
      <!-- end header-->
      <!-- main coaches-->
      <div class="coaches">
        <div class="container">
          <h1 class="coaches__first__title">Наши тренеры</h1>
          <div class="coaches__blocks">
            <div class="coach__block__left coach__block"><img class="coach__img" src="images/coaches/coach1.png" alt=""/>
              <div class="information__coach">
                <h6 class="name__coach">Иванов Сергей Петрович</h6>
                <p class="role__coach text__coach">Роль: тренер по футболу</p>
                <p class="age__coach text__coach">Возраст: 32 года</p>
                <p class="description__coach text__coach">Иванов С.П. имеет тренерский стаж 7 лет, в структуре нашей школы работает более 2 лет. Проходил зарубежные стажировки в различных клубах Европы.</p>
              </div>
            </div>
            <div class="coach__block__right coach__block">
              <div class="information__coach">
                <h6 class="name__coach">Тихонов Олег Анатольевич</h6>
                <p class="role__coach text__coach">Роль: тренер по футболу</p>
                <p class="age__coach text__coach">Возраст: 35 лет</p>
                <p class="description__coach text__coach">Тихонов О. А. работает детским тренером свыше 10 лет. В структуре нашей школы находится недавно. Работал в академии Спартака около 2 лет.</p>
              </div><img class="coach__img" src="images/coaches/coach2.png" alt=""/>
            </div>
            <div class="coach__block__left coach__block"><img class="coach__img" src="images/coaches/coach3.png" alt=""/>
              <div class="information__coach"> 
                <h6 class="name__coach">Смирнов Тимофей Иванович</h6>
                <p class="role__coach text__coach">Роль: тренер по футболу</p>
                <p class="age__coach text__coach">Возраст: 29 лет</p>
                <p class="description__coach text__coach">Смирнов Т. И. имеет тренерский стаж 4 года. Работает в нашей школе с момента открытия. Имеет большой опыт игры в футбол.</p>
              </div>
            </div>
            <div class="coach__block__right coach__block">
              <div class="information__coach">
                <h6 class="name__coach">Геворкян Тимур Варданович</h6>
                <p class="role__coach text__coach">Роль: тренер по футболу</p>
                <p class="age__coach text__coach">Возраст: 29 лет</p>
                <p class="description__coach text__coach">Геворкян Т. В. работает тренером 10 лет. В нашей структуре находится менее года. Учился и работал тренером в Европе.</p>
              </div><img class="coach__img" src="images/coaches/coach4.png" alt=""/>
            </div>
            <div class="coach__block__left coach__block"><img class="coach__img" src="images/coaches/coach5.png" alt=""/>
              <div class="information__coach">
                <h6 class="name__coach">Буйнов Игорь Петрович</h6>
                <p class="role__coach text__coach">Роль: помощник тренера</p>
                <p class="age__coach text__coach">Возраст: 21 год</p>
                <p class="description__coach text__coach">Буйнов И. П. начал тренерскую карьеру недавно. В данный момент учится на тренера в физкультурном факультете.</p>
              </div>
            </div>
            <div class="coach__block__right coach__block">
              <div class="information__coach">
                <h6 class="name__coach">Наливайкин Артем Вадимович</h6>
                <p class="role__coach text__coach">Роль: помощник тренера</p>
                <p class="age__coach text__coach">Возраст: 19 лет</p>
                <p class="description__coach text__coach">Наливайкин А. В. работает в нашей школе 1 месяц. Совместно с работой учится на тренера.</p>
              </div><img class="coach__img" src="images/coaches/coach6.png" alt=""/>
            </div>
            <div class="coach__block__left coach__block"><img class="coach__img" src="images/coaches/coach7.png" alt=""/>
              <div class="information__coach">
                <h6 class="name__coach">Афонов Антон Владимирович</h6>
                <p class="role__coach text__coach">Роль: тренер по физиподготовке</p>
                <p class="age__coach text__coach">Возраст: 25 лет</p>
                <p class="description__coach text__coach">Афонов А. В. работает в нашей школе с момента открытия. Ранее работал во многих фитнес-клубах тренером.</p>
              </div>
            </div>
            <div class="coach__block__right coach__block">
              <div class="information__coach">
                <h6 class="name__coach">Смирнова Маргарита Павловна</h6>
                <p class="role__coach text__coach">Роль: глава медицинского штаба</p>
                <p class="age__coach text__coach">Возраст: 33 года</p>
                <p class="description__coach text__coach">Смирнова М. П. имеет опыт работы 9 лет. Ранее работала в известных клубах страны.</p>
              </div><img class="coach__img" src="images/coaches/coach8.png" alt=""/>
            </div>
          </div>
        </div>
      </div>
      <!-- end main coaches-->
      <!-- footer-->
      <footer class="footer">
        <div class="container footer__wrapper">
          <div class="left__column__footer column__footer"><span class="text__footer">2018 ©  Мяч-Все права защищены </span><a class="text__footer a__footer" href="#">Политика конфиденциальности</a><a class="text__footer a__footer" href="#">Пользовательское соглашение</a></div>
          <div class="center__column__footer column__footer"><span class="text__footer">Мы в социальных сетях:</span>
            <div class="social__img"><a href="#"> <img src="images/footer/instagram.png" alt=""/></a><a href="#"><img src="images/footer/vk.png" alt=""/></a><a href="#"><img src="images/footer/youtube.png" alt=""/></a></div>
          </div>
          <div class="right__column__footer column__footer"><a class="text__footer a__footer" href="#">Открыть школу в своем городе</a><a class="text__footer a__footer" href="#">Карьера в “Мяч”</a></div>
        </div>
      </footer>
      <!-- end footer-->
      <!-- script-->
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/slick.min.js"></script>
      <script src="js/main.js"></script>
      <!-- end script-->
    </div>
  </body>
</html>

src/coaches.pug
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Тренеры
        include blocks/link
    body
        .wrapper
            // header
            include blocks/header
            // end header

            // main coaches
            .coaches
                .container
                    h1.coaches__first__title Наши тренеры
                    .coaches__blocks
                        .coach__block__left.coach__block
                            img.coach__img(src="images/coaches/coach1.png", alt="")
                            .information__coach
                                h6.name__coach Иванов Сергей Петрович
                                p.role__coach.text__coach Роль: тренер по футболу
                                p.age__coach.text__coach Возраст: 32 года
                                p.description__coach.text__coach Иванов С.П. имеет тренерский стаж 7 лет, в структуре нашей школы работает более 2 лет. Проходил зарубежные стажировки в различных клубах Европы.
                        .coach__block__right.coach__block
                            .information__coach
                                h6.name__coach Тихонов Олег Анатольевич
                                p.role__coach.text__coach Роль: тренер по футболу
                                p.age__coach.text__coach Возраст: 35 лет
                                p.description__coach.text__coach Тихонов О. А. работает детским тренером свыше 10 лет. В структуре нашей школы находится недавно. Работал в академии Спартака около 2 лет.
                            img.coach__img(src="images/coaches/coach2.png", alt="")
                        .coach__block__left.coach__block
                            img.coach__img(src="images/coaches/coach3.png", alt="")
                            .information__coach 
                                h6.name__coach Смирнов Тимофей Иванович
                                p.role__coach.text__coach Роль: тренер по футболу
                                p.age__coach.text__coach Возраст: 29 лет
                                p.description__coach.text__coach Смирнов Т. И. имеет тренерский стаж 4 года. Работает в нашей школе с момента открытия. Имеет большой опыт игры в футбол.
                        .coach__block__right.coach__block
                            .information__coach
                                h6.name__coach Геворкян Тимур Варданович
                                p.role__coach.text__coach Роль: тренер по футболу
                                p.age__coach.text__coach Возраст: 29 лет
                                p.description__coach.text__coach Геворкян Т. В. работает тренером 10 лет. В нашей структуре находится менее года. Учился и работал тренером в Европе.
                            img.coach__img(src="images/coaches/coach4.png", alt="")
                        .coach__block__left.coach__block
                            img.coach__img(src="images/coaches/coach5.png", alt="")
                            .information__coach
                                h6.name__coach Буйнов Игорь Петрович
                                p.role__coach.text__coach Роль: помощник тренера
                                p.age__coach.text__coach Возраст: 21 год
                                p.description__coach.text__coach Буйнов И. П. начал тренерскую карьеру недавно. В данный момент учится на тренера в физкультурном факультете.
                        .coach__block__right.coach__block
                            .information__coach
                                h6.name__coach Наливайкин Артем Вадимович
                                p.role__coach.text__coach Роль: помощник тренера
                                p.age__coach.text__coach Возраст: 19 лет
                                p.description__coach.text__coach Наливайкин А. В. работает в нашей школе 1 месяц. Совместно с работой учится на тренера.
                            img.coach__img(src="images/coaches/coach6.png", alt="")
                        .coach__block__left.coach__block
                            img.coach__img(src="images/coaches/coach7.png", alt="")
                            .information__coach
                                h6.name__coach Афонов Антон Владимирович
                                p.role__coach.text__coach Роль: тренер по физиподготовке
                                p.age__coach.text__coach Возраст: 25 лет
                                p.description__coach.text__coach Афонов А. В. работает в нашей школе с момента открытия. Ранее работал во многих фитнес-клубах тренером.
                        .coach__block__right.coach__block
                            .information__coach
                                h6.name__coach Смирнова Маргарита Павловна
                                p.role__coach.text__coach Роль: глава медицинского штаба
                                p.age__coach.text__coach Возраст: 33 года
                                p.description__coach.text__coach Смирнова М. П. имеет опыт работы 9 лет. Ранее работала в известных клубах страны.
                            img.coach__img(src="images/coaches/coach8.png", alt="")
            // end main coaches

            // footer
            include blocks/footer
            // end footer

            // script
            include blocks/script
            // end script
