dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Футбольная школа мяч </title>
    <!--fonts--><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="stylesheet" href="css/styles.min.css"/>
  </head>
  <body>
    <div class="wrapper">
      <!-- header-->
      <header class="header">
        <div class="container">
          <div class="left__header__menu">
            <button class="hamburger hamburger--spin hambur__menu__toggle js__menu__toggle" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button><a href="index.html"><img src="images/logo.png" alt=""/></a>
            <ul class="header__menu"><a href="index.html">
                <li>О школе</li></a><a href="training.html">
                <li>Программы и цены</li></a><a href="coaches.html">
                <li>Тренеры</li></a><a href="photogallery.html">
                <li>Фотогалерея</li></a></ul>
          </div>
          <div class="right__header__menu"><a class="header__phone" href="#"><img class="phone__img" src="images/Phone.png" alt=""/><span class="phone__number">8 (831) 453-24-65</span></a></div>
        </div>
      </header>
      <!-- end header-->
      <!-- slider-->
      <div class="slider">
        <div class="slider-item main__slider1">
          <div class="container">
            <div class="slider__wrapper content__slider1">
              <h2 class="second__slider__title">Академия</h2>
              <p class="text__slider">Футбольная школа для детей от 3 до 9 лет</p><a class="button__slider1" href="#a__feedback">Записаться на занятие</a>
            </div>
          </div>
        </div>
        <div class="slider-item main__slider2">
          <div class="container">
            <div class="slider__wrapper content__slider2"> 
              <h1 class="first__slider__title">Подарите мечту своему ребенку</h1><a class="button__slider2" href="#a__feedback">Записаться на занятие</a>
            </div>
          </div>
        </div>
        <div class="slider-item main__slider3">
          <div class="container">
            <div class="slider__wrapper content__slider3">
              <h1 class="first__slider__title">Запишитесь на бесплатное занятие</h1><a class="button__slider3" href="#a__feedback">Записаться на занятие</a>
            </div>
          </div>
        </div>
      </div>
      <!--end slider-->
      <!-- why we-->
      <div class="description__why__we">
        <div class="container">
          <div class="why__we__wrapper">
            <div class="text__description">
              <h1 class="description__first__title">Почему именно мы</h1>
              <p class="description__text">Наша футбольная школа считается лучшей в Нижнем Новгороде и одной из лучших в России. Детская футбольная школа “Мяч” уделяет внимание все аспектам тренировочного процесса. </p>
              <p class="description__text">Набор в школу ведется с 3-х лет. У каждого ребенка мы развиваем ловкость, быстроту, координацию, умение работать в команде. Кроме того, мы часто проводим турниры между детскими школами, что позволяет как можно лучше развивать игровую практику.</p>
            </div><img class="description__img" src="images/why__we__img.png" alt=""/>
          </div>
        </div>
      </div>
      <!-- end why we-->
      <!-- advantages-->
      <div class="our__advantages">
        <div class="container">
          <h1 class="advantages__first__title">Наши преимущества</h1>
          <div class="our__advantages__blocks">
            <div class="block__advantages white__block__advantages">
              <div class="content__block"><img class="advantages__img" src="images/advantages/advantages1.png" alt=""/>
                <h3 class="advantages__third__title">Небольшие группы</h3>
                <p class="advantages__text">Мы практикуем исключительно индивидуальный подход, который основан на характере, физическом развитии, поле, возрасте конкретного ребенка.</p>
              </div>
            </div>
            <div class="block__advantages yellow__block__shadow">
              <div class="content__block"><img class="advantages__img" src="images/advantages/advantages2.png" alt=""/>
                <h3 class="advantages__third__title white__color">Качество экипировки</h3>
                <p class="advantages__text white__color">Мы постоянно обновляем инвентарь от хороших брендов спортивной экипировки. Весь инвентарь подобран с учетом рекомендация FIFA. </p>
              </div>
            </div>
            <div class="block__advantages yellow__block__shadow third__block">
              <div class="content__block"><img class="advantages__img" src="images/advantages/advantages3.png" alt=""/>
                <h3 class="advantages__third__title white__color">Участие в турнирах</h3>
                <p class="advantages__text white__color">Наши команды участвуют в товарищеских встречах и турнирах.</p>
              </div>
            </div>
            <div class="block__advantages white__block__advantages four__block">
              <div class="content__block"><img class="advantages__img" src="images/advantages/advantages4.png" alt=""/>
                <h3 class="advantages__third__title">Летний лагерь</h3>
                <p class="advantages__text">Возможность проверсти летние каникулы на спортивных сборах.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end advantages-->
      <!-- first lesson-->
      <div class="first__lesson">
        <div class="container">
          <h2 class="second__title__first__lesson">На первое занятие потребуется</h2>
          <div class="things__first__lesson">
            <div class="block_things first__thing"><img class="thing__img" src="images/first_lesson/first__thing.png" alt=""/>
              <p class="thing__description">Футболка</p>
            </div>
            <div class="block_things secong__thing"><img class="thing__img" src="images/first_lesson/second__thing.png" alt=""/>
              <p class="thing__description">Шорты</p>
            </div>
            <div class="block_things third__thing"><img class="thing__img" src="images/first_lesson/third__thing.png" alt=""/>
              <p class="thing__description">Обувь</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end first lesson-->
      <!-- training program-->
      <div class="training__program">
        <div class="container">
          <h1 class="first__title__training">Программы тренировок</h1>
          <div class="training__programs__column">
            <div class="first__program programm__block">
              <p class="name__group">Мини: <span class="years__group">от 3 до 5 лет</span></p>
              <p class="description__group">Интенсивная программа тренировок. Развиваем фундаментальные умения игры в футбол.</p>
              <p class="price__group">От 3 500 руб/мес</p>
              <div class="training__item"><img class="training__item__img" src="images/training_programs/column_1_1.png" alt=""/>
                <div class="description__training__item">
                  <h6 class="six__training__program__title">Изучаем основы</h6>
                  <p class="text__training__item">Дети изучают основные правила игры, учатся ведению мяча и координации.</p>
                </div>
              </div>
              <div class="training__item"><img class="training__item__img" src="images/training_programs/column_1_2.png" alt=""/>
                <div class="description__training__item">
                  <h6 class="six__training__program__title">Удовольствие от процесса</h6>
                  <p class="text__training__item">Дети начинают получать удовольствие от занятия футболом через различные игры и конкурсы на тренировках.</p>
                </div>
              </div><a class="button__trainig__item" href="#a__feedback">Записаться на занятие  </a>
            </div>
            <div class="second__program programm__block">
              <p class="name__group">Стандарт: <span class="years__group">от 6 до 7 лет</span></p>
              <p class="description__group">Развиваем командные навыки и умения. Также уделяем внимание индивидуальным умениям.</p>
              <p class="price__group">От 3 500 руб/мес</p>
              <div class="training__item"><img class="training__item__img" src="images/training_programs/column_2_1.png" alt=""/>
                <div class="description__training__item">
                  <h6 class="six__training__program__title">Индивидуальность</h6>
                  <p class="text__training__item">Тренировки направлены на развитие индивидуального мастерства: дриблинг, обводка и удары.</p>
                </div>
              </div>
              <div class="training__item"><img class="training__item__img" src="images/training_programs/column_2_2.png" alt=""/>
                <div class="description__training__item">
                  <h6 class="six__training__program__title">Командные качества</h6>
                  <p class="text__training__item">Психологически готовим детей к конкуреции. Развиваем командные умения и качества.</p>
                </div>
              </div><a class="button__trainig__item" href="#a__feedback">Записаться на занятие</a>
            </div>
            <div class="third__program programm__block">
              <p class="name__group">Стандарт: <span class="years__group">от 8 до 9 лет</span></p>
              <p class="description__group">Развиваем стратегическое мышление. Готовим детей к просмотрам в футбольные академии.</p>
              <p class="price__group">От 3 500 руб/мес</p>
              <div class="training__item"><img class="training__item__img" src="images/training_programs/column_3_1.png" alt=""/>
                <div class="description__training__item">
                  <h6 class="six__training__program__title">Стратегическое мышление</h6>
                  <p class="text__training__item">Обучение стратегическому мышлению. Правильный выбор позиции, понимание поставленной задачи.</p>
                </div>
              </div>
              <div class="training__item"><img class="training__item__img" src="images/training_programs/column_3_2.png" alt=""/>
                <div class="description__training__item">
                  <h6 class="six__training__program__title">Подготовка к отборам</h6>
                  <p class="text__training__item">Готовим детей к успешному прохождению отборов в футбольные академии. </p>
                </div>
              </div><a class="button__trainig__item" href="#a__feedback">Записаться на занятие</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end training program-->
      <!-- feedback form-->
      <div class="feedback__form" id="a__feedback">
        <div class="container">
          <h2 class="second__title__feedback__form">Оставьте заявку</h2>
          <form class="form" action="URL">
            <input type="text" name="name" placeholder="Ваше имя"/>
            <input type="text" name="name_child" placeholder="Имя ребенка"/>
            <input type="text" name="phone" placeholder="Ваш телефон"/>
            <button class="buttin__feedback__form">Отправить</button>
          </form>
        </div>
      </div>
      <!-- end feedback form-->
      <!-- map-->
      <div class="map">
        <div class="container">
          <h2 class="second__title__map">Где нас найти</h2>
        </div>
      </div>
      <script type="text/javascript" charset="utf-8" async="async" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae17505b3622f3c860b76579631a4771b41adfff77e96557936c73aa33072a601&amp;amp;width=100%25&amp;amp;height=500&amp;amp;lang=ru_RU&amp;amp;scroll=true"></script>
      <!-- end map-->
      <!-- footer-->
      <footer class="footer">
        <div class="container footer__wrapper">
          <div class="left__column__footer column__footer"><span class="text__footer">2018 ©  Мяч-Все права защищены </span><a class="text__footer a__footer" href="#">Политика конфиденциальности</a><a class="text__footer a__footer" href="#">Пользовательское соглашение</a></div>
          <div class="center__column__footer column__footer"><span class="text__footer">Мы в социальных сетях:</span>
            <div class="social__img"><a href="#"> <img src="images/footer/instagram.png" alt=""/></a><a href="#"><img src="images/footer/vk.png" alt=""/></a><a href="#"><img src="images/footer/youtube.png" alt=""/></a></div>
          </div>
          <div class="right__column__footer column__footer"><a class="text__footer a__footer" href="#">Открыть школу в своем городе</a><a class="text__footer a__footer" href="#">Карьера в “Мяч”</a></div>
        </div>
      </footer>
      <!-- end footer-->
      <!-- script-->
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/slick.min.js"></script>
      <script src="js/main.js"></script>
      <!-- end script-->
    </div>
  </body>
</html>

src/index.pug
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Футбольная школа мяч 
        include blocks/link
    body
        .wrapper
            // header
            include blocks/header
            // end header

            // slider
            .slider
                .slider-item.main__slider1
                    .container
                        .slider__wrapper.content__slider1
                            h2.second__slider__title Академия
                            p.text__slider Футбольная школа для детей от 3 до 9 лет
                            a(href="#a__feedback").button__slider1 Записаться на занятие
                .slider-item.main__slider2
                    .container
                        .slider__wrapper.content__slider2 
                            h1.first__slider__title Подарите мечту своему ребенку
                            a(href="#a__feedback").button__slider2 Записаться на занятие
                .slider-item.main__slider3
                    .container
                        .slider__wrapper.content__slider3
                            h1.first__slider__title Запишитесь на бесплатное занятие
                            a(href="#a__feedback").button__slider3 Записаться на занятие
                
            //end slider

            // why we
            .description__why__we
                .container
                    .why__we__wrapper
                        .text__description
                            h1.description__first__title Почему именно мы
                            p.description__text Наша футбольная школа считается лучшей в Нижнем Новгороде и одной из лучших в России. Детская футбольная школа “Мяч” уделяет внимание все аспектам тренировочного процесса. 
                            p.description__text Набор в школу ведется с 3-х лет. У каждого ребенка мы развиваем ловкость, быстроту, координацию, умение работать в команде. Кроме того, мы часто проводим турниры между детскими школами, что позволяет как можно лучше развивать игровую практику.
                        img(src="images/why__we__img.png", alt="").description__img
            // end why we

            // advantages
            .our__advantages
                .container
                    h1.advantages__first__title Наши преимущества
                    .our__advantages__blocks
                        .block__advantages.white__block__advantages
                            .content__block
                                img.advantages__img(src="images/advantages/advantages1.png", alt="")
                                h3.advantages__third__title Небольшие группы
                                p.advantages__text Мы практикуем исключительно индивидуальный подход, который основан на характере, физическом развитии, поле, возрасте конкретного ребенка.
                        .block__advantages.yellow__block__shadow
                            .content__block
                                img.advantages__img(src="images/advantages/advantages2.png", alt="")
                                h3.advantages__third__title.white__color Качество экипировки
                                p.advantages__text.white__color Мы постоянно обновляем инвентарь от хороших брендов спортивной экипировки. Весь инвентарь подобран с учетом рекомендация FIFA. 
                        .block__advantages.yellow__block__shadow.third__block
                            .content__block
                                img.advantages__img(src="images/advantages/advantages3.png", alt="")
                                h3.advantages__third__title.white__color Участие в турнирах
                                p.advantages__text.white__color Наши команды участвуют в товарищеских встречах и турнирах.
                        .block__advantages.white__block__advantages.four__block
                            .content__block
                                img.advantages__img(src="images/advantages/advantages4.png", alt="")
                                h3.advantages__third__title Летний лагерь
                                p.advantages__text Возможность проверсти летние каникулы на спортивных сборах.
            // end advantages

            // first lesson
            .first__lesson
                .container
                    h2.second__title__first__lesson На первое занятие потребуется
                    .things__first__lesson
                        .block_things.first__thing
                            img(src="images/first_lesson/first__thing.png", alt="").thing__img
                            p.thing__description Футболка
                        .block_things.secong__thing
                            img(src="images/first_lesson/second__thing.png", alt="").thing__img
                            p.thing__description Шорты
                        .block_things.third__thing
                            img(src="images/first_lesson/third__thing.png", alt="").thing__img
                            p.thing__description Обувь
            // end first lesson

            // training program
            include blocks/training__programs
            // end training program

            // feedback form
            include blocks/feedback__form
            // end feedback form

            // map
            .map
                .container
                    h2.second__title__map Где нас найти
            script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae17505b3622f3c860b76579631a4771b41adfff77e96557936c73aa33072a601&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true")
            // end map
            
            // footer
            include blocks/footer
            // end footer

            // script
            include blocks/script
            // end script
