dist/photogallery.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Галерея</title>
    <!--fonts--><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/styles.min.css">
  </head>
  <body>
    <div class="wrapper"> 
      <!-- header-->
      <header class="header">
        <div class="container">
          <div class="left__header__menu">
            <button class="hamburger hamburger--spin hambur__menu__toggle js__menu__toggle" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button><a href="index.html"><img src="images/logo.png" alt=""></a>
            <ul class="header__menu"><a href="index.html">
                <li>О школе</li></a><a href="training.html">
                <li>Программы и цены</li></a><a href="coaches.html">
                <li>Тренеры</li></a><a href="photogallery.html">
                <li>Фотогалерея</li></a></ul>
          </div>
          <div class="right__header__menu"><a class="header__phone" href="#"><img class="phone__img" src="images/Phone.png" alt=""><span class="phone__number">8 (831) 453-24-65</span></a></div>
        </div>
      </header>
      <!-- end header-->
      <div class="photogallery"> 
        <div class="container">
          <h1 class="first__title__photogallery">Галерея</h1>
          <p class="text__photogallery">Здесь вы можете увидеть фотографии с тренировочного процесса и игр.</p>
          <div class="gallery__block"> <img class="left__arrow" src="images/photogallery/left-arrow.png" alt="" onClick="javascript: leftArrow()"><img src="images/photogallery/img1.png" alt="" id="img__photogallery"><img class="right__arrow" src="images/photogallery/right-arrow.png" alt="" onClick="javascript: rightArrow()"></div>
        </div>
      </div>
      <!-- footer -->
      <footer class="footer">
        <div class="container footer__wrapper">
          <div class="left__column__footer column__footer"><span class="text__footer">2018 ©  Мяч-Все права защищены </span><a class="text__footer a__footer" href="#">Политика конфиденциальности</a><a class="text__footer a__footer" href="#">Пользовательское соглашение</a></div>
          <div class="center__column__footer column__footer"><span class="text__footer">Мы в социальных сетях:</span>
            <div class="social__img"><a href="#"> <img src="images/footer/instagram.png" alt=""></a><a href="#"><img src="images/footer/vk.png" alt=""></a><a href="#"><img src="images/footer/youtube.png" alt=""></a></div>
          </div>
          <div class="right__column__footer column__footer"><a class="text__footer a__footer" href="#">Открыть школу в своем городе</a><a class="text__footer a__footer" href="#">Карьера в “Мяч”</a></div>
        </div>
      </footer>
      <!-- end footer-->
      <!-- script-->
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/slick.min.js"></script>
      <script src="js/main.js"></script>
      <!-- end script-->
    </div>
  </body>
</html>

src/photogallery.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Галерея
        include blocks/link
    body
        .wrapper 
            // header
            include blocks/header
            // end header
            .photogallery 
                .container
                    h1.first__title__photogallery Галерея
                    p.text__photogallery Здесь вы можете увидеть фотографии с тренировочного процесса и игр.
                    .gallery__block 
                        img.left__arrow(src="images/photogallery/left-arrow.png", alt="", onClick="javascript: leftArrow()")
                        img(src="images/photogallery/img1.png", alt="" id="img__photogallery")
                        img.right__arrow(src="images/photogallery/right-arrow.png", alt="", onClick="javascript: rightArrow()")
            // footer 
            include blocks/footer
            // end footer

            // script
            include blocks/script
            // end script
