dist/training.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Программы тренировок</title>
    <!--fonts--><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="stylesheet" href="css/styles.min.css"/>
  </head>
  <body>
    <div class="wrapper">
      <!-- head-->
      <header class="header">
        <div class="container">
          <div class="left__header__menu">
            <button class="hamburger hamburger--spin hambur__menu__toggle js__menu__toggle" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button><a href="index.html"><img src="images/logo.png" alt=""/></a>
            <ul class="header__menu"><a href="index.html">
                <li>О школе</li></a><a href="training.html">
                <li>Программы и цены</li></a><a href="coaches.html">
                <li>Тренеры</li></a><a href="photogallery.html">
                <li>Фотогалерея</li></a></ul>
          </div>
          <div class="right__header__menu"><a class="header__phone" href="#"><img class="phone__img" src="images/Phone.png" alt=""/><span class="phone__number">8 (831) 453-24-65</span></a></div>
        </div>
      </header>
      <!-- end head-->
      <!-- training programs-->
      <div class="training__program">
        <div class="container">
          <h1 class="first__title__training">Программы тренировок</h1>
          <div class="training__programs__column">
            <div class="first__program programm__block">
              <p class="name__group">Мини: <span class="years__group">от 3 до 5 лет</span></p>
              <p class="description__group">Интенсивная программа тренировок. Развиваем фундаментальные умения игры в футбол.</p>
              <p class="price__group">От 3 500 руб/мес</p>
              <div class="training__item"><img class="training__item__img" src="images/training_programs/column_1_1.png" alt=""/>
                <div class="description__training__item">
                  <h6 class="six__training__program__title">Изучаем основы</h6>
                  <p class="text__training__item">Дети изучают основные правила игры, учатся ведению мяча и координации.</p>
                </div>
              </div>
              <div class="training__item"><img class="training__item__img" src="images/training_programs/column_1_2.png" alt=""/>
                <div class="description__training__item">
                  <h6 class="six__training__program__title">Удовольствие от процесса</h6>
                  <p class="text__training__item">Дети начинают получать удовольствие от занятия футболом через различные игры и конкурсы на тренировках.</p>
                </div>
              </div><a class="button__trainig__item" href="#a__feedback">Записаться на занятие  </a>
            </div>
            <div class="second__program programm__block">
              <p class="name__group">Стандарт: <span class="years__group">от 6 до 7 лет</span></p>
              <p class="description__group">Развиваем командные навыки и умения. Также уделяем внимание индивидуальным умениям.</p>
              <p class="price__group">От 3 500 руб/мес</p>
              <div class="training__item"><img class="training__item__img" src="images/training_programs/column_2_1.png" alt=""/>
                <div class="description__training__item">
                  <h6 class="six__training__program__title">Индивидуальность</h6>
                  <p class="text__training__item">Тренировки направлены на развитие индивидуального мастерства: дриблинг, обводка и удары.</p>
                </div>
              </div>
              <div class="training__item"><img class="training__item__img" src="images/training_programs/column_2_2.png" alt=""/>
                <div class="description__training__item">
                  <h6 class="six__training__program__title">Командные качества</h6>
                  <p class="text__training__item">Психологически готовим детей к конкуреции. Развиваем командные умения и качества.</p>
                </div>
              </div><a class="button__trainig__item" href="#a__feedback">Записаться на занятие</a>
            </div>
            <div class="third__program programm__block">
              <p class="name__group">Стандарт: <span class="years__group">от 8 до 9 лет</span></p>
              <p class="description__group">Развиваем стратегическое мышление. Готовим детей к просмотрам в футбольные академии.</p>
              <p class="price__group">От 3 500 руб/мес</p>
              <div class="training__item"><img class="training__item__img" src="images/training_programs/column_3_1.png" alt=""/>
                <div class="description__training__item">
                  <h6 class="six__training__program__title">Стратегическое мышление</h6>
                  <p class="text__training__item">Обучение стратегическому мышлению. Правильный выбор позиции, понимание поставленной задачи.</p>
                </div>
              </div>
              <div class="training__item"><img class="training__item__img" src="images/training_programs/column_3_2.png" alt=""/>
                <div class="description__training__item">
                  <h6 class="six__training__program__title">Подготовка к отборам</h6>
                  <p class="text__training__item">Готовим детей к успешному прохождению отборов в футбольные академии. </p>
                </div>
              </div><a class="button__trainig__item" href="#a__feedback">Записаться на занятие</a>
            </div>
          </div>
        </div>
      </div>
      <div class="description__training">
        <div class="container">
          <div class="description__training__wrapper"><img class="description__training__img" src="images/training_programs/description__training.png" alt=""/>
            <div class="text__description__training">
              <h3 class="third__title__description__training">Каждая программа подбирается по возрасту</h3>
              <p class="text__description__training">Наша учебная программа разработана в соответствии со всеми стандартами  образования детей. Каждая программа подбирается индивидуального к каждому ребенку и по возрасту.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end training programs-->
      <!-- events-->
      <div class="events">
        <div class="container">
          <h1 class="first__title__training mar__20l">Мероприятия</h1>
          <h6 class="six__title__training mar__50l">Каждый месяц мы проводим следующие мероприятия для детей и их родителей</h6>
          <div class="events__list">
            <div class="column__event"><img class="img__event" src="images/events/event1.png" alt=""/>
              <h6 class="six__title__training title__event__column">Аттестация</h6>
              <p class="text__event__column">Мы проводим аттестацию учеников каждый месяц, чтобы проверять их умения и навыки.</p>
            </div>
            <div class="column__event"><img class="img__event" src="images/events/event2.png" alt=""/>
              <h6 class="six__title__training title__event__column">Совместные походы</h6>
              <p class="text__event__column">Для игры в футбол важна хорошая атмосфера в команде. Поэтому каждый месяц мы ходим с детьми в кафе или музей для поднятия командного духа.</p>
            </div>
            <div class="column__event"><img class="img__event" src="images/events/event3.png" alt=""/>
              <h6 class="six__title__training title__event__column">Футбольный день</h6>
              <p class="text__event__column">В этот день мы проводим небольшие турниры для поддержания атмосферы и оттачивания умений.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- end events-->
      <!-- feedback form-->
      <div class="feedback__form" id="a__feedback">
        <div class="container">
          <h2 class="second__title__feedback__form">Оставьте заявку</h2>
          <form class="form" action="URL">
            <input type="text" name="name" placeholder="Ваше имя"/>
            <input type="text" name="name_child" placeholder="Имя ребенка"/>
            <input type="text" name="phone" placeholder="Ваш телефон"/>
            <button class="buttin__feedback__form">Отправить</button>
          </form>
        </div>
      </div>
      <!-- end feedback form-->
      <!-- footer-->
      <footer class="footer">
        <div class="container footer__wrapper">
          <div class="left__column__footer column__footer"><span class="text__footer">2018 ©  Мяч-Все права защищены </span><a class="text__footer a__footer" href="#">Политика конфиденциальности</a><a class="text__footer a__footer" href="#">Пользовательское соглашение</a></div>
          <div class="center__column__footer column__footer"><span class="text__footer">Мы в социальных сетях:</span>
            <div class="social__img"><a href="#"> <img src="images/footer/instagram.png" alt=""/></a><a href="#"><img src="images/footer/vk.png" alt=""/></a><a href="#"><img src="images/footer/youtube.png" alt=""/></a></div>
          </div>
          <div class="right__column__footer column__footer"><a class="text__footer a__footer" href="#">Открыть школу в своем городе</a><a class="text__footer a__footer" href="#">Карьера в “Мяч”</a></div>
        </div>
      </footer>
      <!-- end footer-->
      <!-- script-->
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/slick.min.js"></script>
      <script src="js/main.js"></script>
      <!-- end script-->
    </div>
  </body>
</html>

src/training.pug
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Программы тренировок
        include blocks/link
    body
        .wrapper
            // head
            include blocks/header
            // end head

            // training programs
            include blocks/training__programs
            .description__training
                .container
                    .description__training__wrapper
                        img.description__training__img(src="images/training_programs/description__training.png", alt="")
                        .text__description__training
                            h3.third__title__description__training Каждая программа подбирается по возрасту
                            p.text__description__training Наша учебная программа разработана в соответствии со всеми стандартами  образования детей. Каждая программа подбирается индивидуального к каждому ребенку и по возрасту.
            // end training programs
            
            // events
            .events
                .container
                    h1.first__title__training.mar__20l Мероприятия
                    h6.six__title__training.mar__50l Каждый месяц мы проводим следующие мероприятия для детей и их родителей
                    .events__list
                        .column__event
                            img.img__event(src="images/events/event1.png", alt="")
                            h6.six__title__training.title__event__column Аттестация
                            p.text__event__column Мы проводим аттестацию учеников каждый месяц, чтобы проверять их умения и навыки.
                        .column__event
                            img.img__event(src="images/events/event2.png", alt="")
                            h6.six__title__training.title__event__column Совместные походы
                            p.text__event__column Для игры в футбол важна хорошая атмосфера в команде. Поэтому каждый месяц мы ходим с детьми в кафе или музей для поднятия командного духа.
                        .column__event
                            img.img__event(src="images/events/event3.png", alt="")
                            h6.six__title__training.title__event__column Футбольный день
                            p.text__event__column В этот день мы проводим небольшие турниры для поддержания атмосферы и оттачивания умений.
            // end events
            // feedback form
            include blocks/feedback__form
            // end feedback form

            // footer
            include blocks/footer
            // end footer

            // script
            include blocks/script
            // end script
